:root{
	/* Default Parchment style */
	--light-fg: #222;
	--light-bg: #fff;
	--light-input: #0b4c8e;
	--light-body-fg: #000;
	--light-body-bg: #fff;
	--light-header: #eee;
	
	/* Based on GarGlk's Slate Darker theme - but INVERTED for Halloween */
	--dark-fg: #e9e8e7;
	--dark-bg: #292623;
	--dark-input: #ffab74;
	--dark-body-fg: #fff;
	--dark-body-bg: #000;
	--dark-header: #534d46;
	
	--normal-font: Georgia, "AsyncGlk Serif", serif;
	--mono-font: "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", monospace;
	
	--header-size: 72px;
	--footer-size: 4px;
	--game-width: 600px;
}

/* Switch links to warm color scheme too */
a{
	color: #F66;
}
a:visited{
	color: #600;
}
a:hover{
	color: #F99;
}
